<div class='header'>Important Dates</div>
<% if entry_list.all.any? %>
  <ul id="entry-list">
    <% entry_list.sorted(year.year).each do |entry| %>
      <li><%= 
      link_to('dates/delete/' + entry.id.to_s) do
        image('remove.png')
      end
      %><%= entry.display year.year %></li>
    <% end %>
  </ul>
<% else %>
  <div>There are no calendar entries stored.</div>
<% end %>
<div class="controls">
  <%= link_to('Add a date', routes.path(:add_date), class: 'btn') %>
</div>
