<div class='header'>Important Dates</div>
<% if entry_list.all.any? %>
  <ul id="entry-list">
    <% entry_list.all.each do |entry| %>
      <li><a>delete</a><%= entry.display year.year %></li>
    <% end %>
  </ul>
<% else %>
  <div>There are no calendar entries stored.</div>
<% end %>
<div class="controls">
  <%= link_to('Add a date', routes.path(:add_date), class: 'btn') %>
</div>