<div class='header'>Calendar Entries</div>
<% if entry_list.sorted(year.year, current_user).any? %>
  <div id="entry-list">
    <%= render partial: 'home/public_entries'%>
    <% if current_user %>
      <%= render partial: 'home/private_entries'%>
    <% end %>
  </div>
<% else %>
  <div>There are no calendar entries stored.</div>
<% end %>
<div class="controls">
  <%= link_to('Add a date', routes.add_date_path(date_type: {date_type: 'Fixed'}, calendar_entry_fixed: {entry_access: 'Public'} ), class: 'btn') %>
</div>
