<span class='entry-type'>Private Entries</span>
<ul>
  <% entry_list.sorted(year.year, current_user).each do |entry| %>
    <% if entry.user_id %>
      <li class="private-entry">
        <%= delete_link(entry) %>
        <%= entry.display(year.year)%>
      </li>
    <% end %>
  <% end %>
</ul>
