<div class="week">
  <% week.each do |day| %>
      <% if day %>
      <%= link_to( day.day.to_s, routes.display_date_path(year: day.year, month: day.month, day: day.day) , class: style(day)) %>
    <% else %>
      <span></span>
    <% end %>
  <% end %>
</div>