  <div class="header" id="title-year"><%= year.year %></div>
  <div class="year">
  <div class="year-container">
    <% year.months.each do |month| %> 
      <%= render partial: 'home/month', locals: { month: month } %>
    <% end %>
  </div>
  <div class="date-container">
     <%= render partial: 'home/important_dates'%>
  </div>
</div>