<div class="year">
  <div class="header"><%= year.year %></div>
  <div class="container">
    <% year.months.each do |month| %> 
      <%= render partial: 'home/month', locals: { month: month } %>
    <% end %>
  </div>
</div>