.bold {
  font-weight: 600;
}

.holiday {
  background-color: #9ee49e;
}

.leap-day {
  background-color: #7efff9;
}

.friday-13 {
  background-color: #fda9a9;
}

.centered {
  text-align: center;
} 

.header {
  width: 100%;
  font-size: xx-large;
  text-align: center;
}

.title {
  text-align: center;
}

.year {
  display: flex;
}

.date-container {
  flex: 1;
}

.year-container {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  .month {
    width: 15em;
    flex-grow: 0;
    .month-name {
      font-size: large;
      text-align: center;
    }
    .week-header {
      width: 100%;
      height: 2em;
      display: flex;
      span {
        flex: 1;
        text-align: center;
      }
    }
    .week {
      display: flex;
      height: 2em;
      span {
        max-width: calc(100%/7);
        padding-top: .4rem;
        border-radius: 1em;
        flex: 1;
        text-align: center;
      }
    }
  }
}
.controls{
  display:flex;
  width:100%;
  justify-content: space-around;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  max-width: 10em;
  flex:0.3;
  padding: 4px 8px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
