
.display-day{
  height: $body-height;
}
  .entry-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
  
  }
  .display-entry{
    border-radius: $border-radius;
    padding: .25rem;
    max-width: 8rem;
    flex: 1;
    text-overflow: ellipsis;
    text-align: center;
    border: 1px solid silver;
    @include shadow();
    box-sizing: border-box;
    @include gradient($entry-color-public);
    color: $color-text-secondary;
  }
  .private {
    @include gradient($entry-color-private);
}