html {
  @include gradient($color-background);
  height:100%;
}
.header {
  width: 100%;
  font-size: xx-large;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: $title-control-button-size;
  margin-bottom: 0.25rem;  
  .title-control {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #title-year {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}