.btn {
  @include gradient($color-primary);
  text-align: center;
  color: $color-text-secondary;
  text-decoration: none;
}

.btn:hover {
  @include gradient(lighten($color-primary, 7%));
  text-decoration: none;
  cursor: pointer;
}


.nav-button {
  line-height: $title-control-button-size;;
  text-decoration: none;
  @include gradient($color-secondary);
  border-radius: .1rem;
  color: inherit;
  padding:0;
  margin: auto;
  width: 4rem;
  height:$title-control-button-size;
  display: block;
  flex:1;
  img {
    width: $title-control-button-size;
  }
}