<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet 'styles' %>
    <title>Calendar</title>
    <%= favicon %>
  </head>
  <body>
    <div class="title">Calendar</div>
    <%= yield %>
  </body>
</html>
