.wrapper {
  width: 30%;
  margin: 1em auto; }

.radio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.date-form label {
  display: block;
  width: 100%; }
.date-form input,
.date-form select {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.5em;
  font-size: medium; }
.date-form .btn {
  width: 100%;
  height: 3em;
  font-size: large;
  line-height: 3em; }

html {
  background: #f8f7ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f7ff), to(#ebe8ff));
  background-image: linear-gradient(to bottom, #f8f7ff, #ebe8ff);
  height: 100%; }

.header {
  width: 100%;
  font-size: xx-large;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2rem;
  margin-bottom: 0.25rem; }
  .header .title-control {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .header #title-year {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.year-wrapper {
  border: 1px solid silver;
  border-right: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 75%; }

.year-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  padding: 0.25rem;
  max-width: 64rem; }

.month {
  width: 15em;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-top: 1rem; }
  .month .month-name {
    text-align: center;
    font-size: larger;
    margin-bottom: 1rem;
    background: #256a97;
    color: white; }
  .month .week-header {
    width: 100%;
    height: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .month .week-header span {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center; }

.week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em; }
  .week a {
    text-decoration: none;
    color: inherit;
    max-width: calc(100% / 7);
    padding-top: 0.4rem;
    border-radius: 1em;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center; }

.date-container {
  border: 1px solid silver;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .date-container .header {
    font-size: large;
    height: 3rem;
    line-height: 3rem; }
  .date-container .btn {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 3rem;
    display: block;
    line-height: 3rem; }
  .date-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: calc(100% - ($date-container-height * 2));
    overflow-y: scroll;
    overflow-x: hidden; }
    .date-container ul li {
      height: 3rem;
      line-height: 3rem;
      width: 100%;
      padding-left: 0.4em;
      background-color: #f3f6ff; }
      .date-container ul li a {
        text-decoration: none; }
        .date-container ul li a img {
          width: 1rem;
          vertical-align: text-top; }
    .date-container ul li:nth-child(even) {
      background-color: #dae3ff; }

.btn {
  background: #256a97;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#256a97), to(#22618b));
  background-image: linear-gradient(to bottom, #256a97, #22618b);
  text-align: center;
  color: #ffffff;
  text-decoration: none; }

.btn:hover {
  background: #2c7eb4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2c7eb4), to(#2976a7));
  background-image: linear-gradient(to bottom, #2c7eb4, #2976a7);
  text-decoration: none;
  cursor: pointer; }

.nav-button {
  line-height: 2rem;
  text-decoration: none;
  background: #9ea4b6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9ea4b6), to(#959caf));
  background-image: linear-gradient(to bottom, #9ea4b6, #959caf);
  border-radius: 3rem;
  color: inherit;
  padding: 0;
  margin: auto;
  width: 2rem;
  height: 2rem;
  display: block;
  flex: 1; }
  .nav-button img {
    width: 2rem; }

.holiday {
  background-color: #9ee49e; }

.leap-day {
  background-color: #7efff9; }

.friday-13 {
  background-color: #fda9a9; }

.title {
  flex: 1; }

.day-planner .entry-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center; }
.day-planner .display-entry {
  border-radius: 1rem;
  padding: .25rem;
  max-width: 8rem;
  flex: 1;
  text-overflow: ellipsis;
  text-align: center;
  background-color: #256a97;
  color: #ffffff; }

body {
  font-family: sans-serif; }

/*# sourceMappingURL=styles.css.map */
