body {
  font-family: sans-serif; }

.bold {
  font-weight: 600; }

.holiday {
  background-color: #9ee49e; }

.leap-day {
  background-color: #7efff9; }

.friday-13 {
  background-color: #fda9a9; }

.centered {
  text-align: center; }

.header {
  width: 100%;
  font-size: xx-large;
  text-align: center;
  display: flex;
  line-height: 2rem;
  margin-bottom: 0.25rem; }
  .header .year-control {
    flex: 1; }
    .header .year-control a {
      background: #b7b9b1;
      background-image: -webkit-linear-gradient(top, #b7b9b1, #abada4);
      background-image: -moz-linear-gradient(top, #b7b9b1, #abada4);
      background-image: -ms-linear-gradient(top, #b7b9b1, #abada4);
      background-image: -o-linear-gradient(top, #b7b9b1, #abada4);
      background-image: linear-gradient(to bottom, #b7b9b1, #abada4);
      color: inherit;
      padding: 0;
      margin: auto;
      width: 2rem;
      display: block;
      border-radius: 3rem;
      line-height: 2rem;
      height: 2rem;
      text-decoration: none; }
    .header .year-control img {
      width: 2rem; }
  .header #title-year {
    flex: 1; }

.title {
  text-align: center; }

.year {
  display: flex; }

.date-container {
  flex: 1; }

body {
  box-sizing: border-box; }

.wrapper {
  width: 30%;
  margin: 1em auto; }
  .wrapper .radio-buttons {
    display: flex;
    justify-content: space-around; }
  .wrapper .date-form form label {
    display: block;
    width: 100%; }
  .wrapper .date-form form input,
  .wrapper .date-form form select {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 0.5em;
    font-size: medium; }
  .wrapper .date-form form .btn {
    width: 100%;
    height: 3em;
    font-size: large;
    line-height: 3em; }

.year-wrapper {
  border: 1px solid silver;
  border-right: none;
  display: flex;
  justify-content: space-around;
  width: 75%; }
  .year-wrapper .year-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.25rem;
    max-width: 80%; }
    .year-wrapper .year-container .month {
      width: 15em;
      flex-grow: 0;
      margin-bottom: 1rem; }
      .year-wrapper .year-container .month .month-name {
        text-align: center;
        font-size: larger;
        background: #256a97;
        color: white; }
      .year-wrapper .year-container .month .week-header {
        width: 100%;
        height: 2em;
        display: flex; }
        .year-wrapper .year-container .month .week-header span {
          flex: 1;
          text-align: center; }
      .year-wrapper .year-container .month .week {
        display: flex;
        height: 2em; }
        .year-wrapper .year-container .month .week span {
          max-width: calc(100% / 7);
          padding-top: 0.4rem;
          border-radius: 1em;
          flex: 1;
          text-align: center; }

.controls {
  width: 100%; }

.btn {
  background: #256a97;
  background-image: -webkit-linear-gradient(top, #256a97, #205c83);
  background-image: -moz-linear-gradient(top, #256a97, #205c83);
  background-image: -ms-linear-gradient(top, #256a97, #205c83);
  background-image: -o-linear-gradient(top, #256a97, #205c83);
  background-image: linear-gradient(to bottom, #256a97, #205c83);
  text-align: center;
  color: #ffffff;
  text-decoration: none; }

.btn:hover {
  background: #2c7eb4;
  background-image: -webkit-linear-gradient(top, #2c7eb4, #27709f);
  background-image: -moz-linear-gradient(top, #2c7eb4, #27709f);
  background-image: -ms-linear-gradient(top, #2c7eb4, #27709f);
  background-image: -o-linear-gradient(top, #2c7eb4, #27709f);
  background-image: linear-gradient(to bottom, #2c7eb4, #27709f);
  text-decoration: none;
  cursor: pointer; }

.date-container {
  border: 1px solid silver; }
  .date-container .header {
    font-size: large;
    height: 3rem;
    line-height: 3rem; }
  .date-container .btn {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    height: 3rem;
    display: block;
    line-height: 3rem; }
  .date-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: calc(100% - ($date-container-height * 2));
    overflow-y: scroll;
    overflow-x: hidden; }
    .date-container ul li {
      height: 3rem;
      line-height: 3rem;
      width: 100%;
      padding-left: 0.4em; }
      .date-container ul li a {
        text-decoration: none; }
        .date-container ul li a img {
          width: 1rem;
          vertical-align: text-top; }
    .date-container ul li:nth-child(odd) {
      background-color: #f5f5f5; }
    .date-container ul li:nth-child(even) {
      background-color: #e8e8e8; }

/*# sourceMappingURL=styles.css.map */
