@mixin gradient($color) {
  background: $color;
  $gradient-percent: 3%;
  background-image: -webkit-gradient(
    linear,
    left top, left bottom,
    from($color),
    to(darken($color, $gradient-percent))
  );
  background-image: linear-gradient(
    to bottom,
    $color,
    darken($color, $gradient-percent)
  );
}

@mixin gradient2($color1, $color2){
  background: $color1;
  background-image: -webkit-gradient(
    linear,
    left top, right bottom,
    from($color1),
    to($color2)
  );
  background-image: linear-gradient(
    115deg,
    $color1,
    $color2
  );
}

@mixin shadow(){
  box-shadow: 2px 2px rgba(192, 192, 192, 0.5490196078431373);
}
