$color-primary: #256a97;
$color-secondary: #b7b9b1;
$color-text-secondary: #ffffff;
$color-markup-holiday: #9ee49e;
$color-markup-leap-day: #7efff9;
$color-markup-friday-13: #fda9a9;
$border-color: silver;
$list-back-color: #f5f5f5;
$date-container-height: 3rem;
$base-font: sans-serif;
$year-control-button-size: 2rem;
