$color-primary: #256a97;
$color-secondary: #d9dde8;
$color-background: #f8f7ff;
$color-text-secondary: #ffffff;
$color-markup-holiday: #9ee49e;
$color-markup-leap-day: #7efff9;
$color-markup-friday-13: #fda9a9;
$border-color: silver;
$list-back-color: #f3f6ff;
$date-container-height: 3rem;
$base-font: sans-serif;
$title-control-button-size: 2rem;
