$color-primary: #256a97;
$color-secondary: #d9dde8;
$color-background: #f8f7ff;
$color-background-secondary: rgb(233, 233, 233);
$entry-color-public: #1da438;
$entry-color-private: #90913e;
$color-text-secondary: #ffffff;
$color-markup-holiday: #9ee49e;
$color-markup-leap-day: #7efff9;
$color-markup-friday-13: #fda9a9;
$color-user-1: red;
$color-user-2: orange;
$border-color: silver;
$list-back-color: #f3f6ff;
$date-container-height: 3rem;
$base-font: sans-serif;
$title-control-button-size: 2rem;
$header-height: calc(32px);
$footer-height: 32px;
$week-height: 32px;
$month-header-height: 32px;
$week-header-height: 32px;
$week-section-height: calc(6 * $week-height);
$body-height: calc(100vh - #{$footer-height} - #{$header-height} - .5rem);
$border-radius: 3px;